*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url(../images/bild2.JPG);
       background-size: cover; 
       background-repeat: no-repeat;
       height: 100vh;
       
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(33, 39, 129);
    font-family: 'Poppins', sans-serif;

}
.logo{
    color: red;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 18px;
    text-shadow:0 0 5px black,
                0 0 10px black,
                0 0 25px black;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    
}
.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(218, 11, 11);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bolder;
    font-size: 15px;
    text-shadow:0 0 5px black;
    width: 40%;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 4px;
    background-color: rgb(42, 212, 161);
    margin: 4px;
    border-radius: 50%;
    transition: all 0.5s ease;
}
@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
        
    }
    
    
}
@media screen and (max-width: 768px){
    body{
       overflow-x: hidden;
       background-image: url(../images/bild2.JPG);
       background-size: cover; 
       background-repeat: no-repeat;
       height: 100vh;
       
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        width: 30%;
        top: 8vh;
        background-color: rgb(33, 39, 129);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.75s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger{
        display: block;
    }
    
    
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }

}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
    box-shadow: 0 0 5px red,
                0 0 8px red,
                0 0 12px red;

}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
    box-shadow: 0 0 5px red,
                0 0 8px red;
}

.weather{
    padding: 5vh 30vh  0 10vh;
   display: flex;
   justify-content: left;
   flex-direction: column-reverse;
   align-items: center;
   color: red;
   text-shadow: 0 0 5px black,
                0 0 9px black;
   font-family: 'Poppins', sans-serif;

}
.location{
    height: 20vh;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.temperature{
    height: 20vh;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.temperature-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.temperature-section span{
    margin: 2vh;
    font-size: 30px;
}
.temperature-section h2{
    font-size: 40px;
    
}
.icon{
    box-shadow: 0 0 5px  rgb(33, 39, 129),
                0 0 10px  rgb(33, 39, 129);
    border: 1px solid red;           
}
.temperature-description{
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    
}